{{#paper-card}}
  {{#paper-card-content}}
    <h2>Edit Previous Post</h2>
    <p>
      {{paper-input label="Post Title" value=model.title}}
      {{paper-input label="Post Description" value=model.description}}
      {{paper-input textarea=true label="Post" value=model.body attr-rows=3}}
    </p>
  {{/paper-card-content}}
  <div class="md-actions" layout="row" layout-align="end center">
    {{#paper-button primary=true action="post" primary=true}}Update{{/paper-button}}
    {{#paper-button primary=true action="cancel" warn=true}}Cancel{{/paper-button}}
  </div>
{{/paper-card}}