{{#each model as |post|}}
{{#paper-card}}
  {{#paper-card-content}}
    <h2>{{post.title}}</h2>
    <h4>{{post.timestamp}}</h4>
    <p>
      {{post.description}}
    </p>
  {{/paper-card-content}}
  <div class="md-actions" layout="row" layout-align="end center">
    {{#paper-button action="view" param=post primary=true}}View{{/paper-button}}
    {{#paper-button action="edit" param=post}}Edit{{/paper-button}}
    {{#paper-button action="delete" param=post warn=true}}Delete{{/paper-button}}
  </div>
{{/paper-card}}
{{/each}}