<div style="width: 250px">
  {{#paper-select disabled=disableSelect model=orderState}}
    {{#paper-option value="Sort by Date Descending"}}
    Sort by Date Descending
    {{/paper-option}}
    {{#paper-option value="Sort by Date Ascending"}}
    Sort by Date Ascending
    {{/paper-option}}
  {{/paper-select}}
</div>

{{#each postsByDateSorted as |posts|}}

<h3 style="color: #616161; line-height: 1.5; font-size: 81.25%;">{{posts.value}}</h3>

{{#each posts.items as |post|}}
<div style="margin-left: 30px; margin-right: 30px;">
  {{#paper-card}}
    {{#paper-card-content}}
      <h2>{{post.title}}</h2>
      <p>
        {{post.description}}
      </p>
    {{/paper-card-content}}
    <div class="md-actions" layout="row" layout-align="end center">
      {{#paper-button action="view" param=post primary=true}}View{{/paper-button}}
      {{#paper-button action="edit" param=post}}Edit{{/paper-button}}
      {{#paper-button action="delete" param=post warn=true}}Delete{{/paper-button}}
    </div>
  {{/paper-card}}
</div>
{{else}}
  <h2 style="color: grey; text-align: center">It looks like you don't have any posts!
    Go to the '+' button to create some.</h2>
{{/each}}
{{/each}}

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large red">
    {{#link-to "new" class="large material-icons" tagName="i"}}add{{/link-to}}
  </a>
</div>
